
    <div class="container">
      <div class="row">
        {% comment %} First Column {% endcomment %}
        <div class="col-4">
          <h1 class="city_title">Cities</h1>
          {% comment %} {% for ... in ... %} {% endcomment %}
          <div class="card mb-3" style="max-width: 540px">
            <div class="row g-0">
              <div class="col-md-4">
                <img class="cityListImage" src="https://i.pinimg.com/originals/1c/98/7e/1c987e01212b0675c26a317b84bcab42.jpg" alt="..." />
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">
                    This is a wider card with supporting text below as a natural
                    lead-in to additional content. This content is a little bit
                    longer.
                  </p>
                  <p class="card-text">
                    <small class="text-muted">Last updated 3 mins ago</small>
                  </p>
                </div>
              </div>
            </div>
          </div>
          {% comment %} {% endfor %} {% endcomment %}
          <a href="...Delete me"></a>
          {% comment %} end col {% endcomment %}
        </div>

        {% comment %} new Column {% endcomment %}
        <div class="col-8">
        <div class="selected_city">
          <div class="row">
            <div class="col-6">
            <div class="cityname">
            <h2>london</h2>
            </div>
            </div>
            <div class="col-6">
            <div class="cityimg">
            <img class="cardCityImage" src="https://imageproxy.themaven.net//https%3A%2F%2Fwww.history.com%2F.image%2FMTYyNDg1MjE3MTI1Mjc5Mzk4%2Ftopic-london-gettyimages-760251843-promo.jpg" alt="">
            </div>
          </div>
          </div>
            <div class="posts">
              <h1>Posts</h1>
              {% comment %} posts future for each {% endcomment %}
              <div class="card mb-3" style="max-width: 540px">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img class="cardPostImage" src="https://static.independent.co.uk/2020/10/31/17/connery-head.jpg" alt="..." />
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">
                        This is a wider card with supporting text below as a
                        natural lead-in to additional content. This content is a
                        little bit longer.
                      </p>
                      <p class="card-text">
                        <small class="text-muted"
                          >Last updated 3 mins ago</small
                        >
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% comment %} end col {% endcomment %}
        </div>
      </div>
    </div>

