{% extends 'base.html' %} {% block scripts %}
<link
  rel="stylesheet"
  href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
  integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
  crossorigin="anonymous"
/>
{% endblock %} {% block content %}
<div class="profilePageContainer">
    <div class="card mb-3" id="postCard" style="max-width: 540px">
    {% comment %} List item Column {% endcomment %}
      {% comment %} {% for ... in ... %} {% endcomment %}
      <form action="{% url 'posts' %}" method="post">
        {% csrf_token %}
        <h1 class="city_title">Create a New Post</h1>
        <div class="citySelect" style="width:200px;">
            <select>
              <option value="1">Barcelona</option>
              <option value="2">Berlin</option>
              <option value="3">London</option>
              <option value="4">New York</option>
              <option value="5">Paris</option>
              <option value="6">San Francisco</option>
            </select>
        </div>
        <div class="titleDiv">
        <label for="title">Title</label>
        <br>
            <input id="title" type="text" name="name_field" required>
        </div>
            <label for="comment"></label>
            <input id="comment" type="text" required>
            <br>
            <input type="submit" value="Submit">
    </form>
    </div>
  </div>
</div>
      
{% endblock %}
