/* profile page */
@import "./components/profilePage.css";
/* Profile details */
@import "./components/profileDetail.css";
/* City details */
@import "./components/cityDetails.css";
/* Post All */
@import "./components/postsAll.css";

/* all */
:root {
  --main-color: #f4f7ed;
  --secondary-color: #86ee60;
  --third-color: #2e6e65;
  --fourth-color: #2b3752;
}

* {
  font-family: "lato", sans-serif !important;
  font-weight: 700 !important;
}

p {
  font-weight: 400 !important;
}

html body {
  background-color: #f4f7ed;
}

.cardATag {
  text-decoration: none;
  color: inherit;
}

.navbar a {
  color: #86ee60;
}
.carousel .carousel-item {
  height: 550px !important;
}

.carousel-item img {
  display: block;
  object-fit: cover;
  top: 0;
  left: 0;
  min-height: 1000px;
  transform: translateY(-50%);
}

.navbar {
  background-color: #2b3752;
}

.mainPageTitle {
  display: flex;
  justify-content: center;
}

.homePageMainRow {
  padding-top: 1%;
}

#postCard {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

#comment {
  height: 200px;
  width: 100%;
}

.titleDiv {
  padding: 10px;
}

/* Center aligned but check with client if they want left align */
/* .homeCards {
    text-align: center;
} */

.modal-footer {
  justify-content: center;
}

.postShowContent {
  text-align: center;
}

.btn-primary {
  color: var(--main-color) !important;
  border-color: var(--secondary-color) !important;
  background-color: var(--fourth-color) !important;
}

.btn-primary:hover {
  color: var(--main-color) !important;
  border-color: var(--secondary-color) !important;
  background-color: var(--bs-blue) !important;
}

.city-btn {
  border-color: var(--secondary-color) !important;
  border: 2px solid;
}

#cityListRow {
  position: sticky;
  top: 0;
  z-index: 10;
}

.row .profileBox {
  margin: 0px auto 5px;
  border-radius: 10px;
  width: 100%;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
  z-index: 10;
}

.row .profilePost {
  background: var(--fourth-color);
  margin: 1px;
  border-radius: 7px 7px 0px 0px;
  padding-top: 4px;
}

.whiteTitle {
  color: var(--main-color);
}
