/* profile page */
@import "./components/profilePage.css";
/* Profile details */
@import "./components/profileDetail.css";
/* City details */
@import "./components/cityDetails.css";
/* Post All */
@import "./components/postsAll.css";
/* Post details*/
@import "./components/post_detail.css";

/* COLOR SCHEME */
/* Dark Blue: #2b3752 */ /* Light Blue/Greenish: #2e6e65 */
/* Green: #86ee60 */ /* Light Grey/Off White: #f4f7ed */ /* all */
:root {
  --main-color: #f4f7ed;
  --secondary-color: #86ee60;
  --third-color: #2e6e65;
  --fourth-color: #2b3752;
}

html body {
  background-color: var(--main-color);
}

.cardATag {
  text-decoration: none;
  color: inherit;
}

.navbar a {
  color: var(--secondary-color);
}
.carousel .carousel-item {
  height: 550px !important;
}

.carousel-item img {
  display: block;
  object-fit: cover;
  top: 0;
  left: 0;
  min-height: 1000px;
  transform: translateY(-50%);
}

.navbar {
  background-color: var(--fourth-color);
}

.mainPageTitle {
  display: flex;
  justify-content: center;
}

.homePageMainRow {
  padding-top: 1%;
}

#postCard {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

#comment {
  height: 200px;
  width: 100%;
}

.titleDiv {
  padding: 10px;
}

/* Center aligned but check with client if they want left align */
/* .homeCards {
    text-align: center;
} */

.modal-footer {
  justify-content: center;
}

.postShowContent {
  text-align: center;
}

/* .single-post {
  text-align: center;
} */
