/* no ahref styling */

a {
  text-decoration: none;
}

/* body { */
/* background-color: var(--third-color) !important; */
/* } */

.profilePageContainer {
  margin: 1%;
}

/* ========== Selected city side =============*/
.selected_city {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: var(--main-color);
  background-clip: border-box;
  border-radius: 0.25rem;
  height: 100vh;
}

.profile-city-list {
  border: 1px solid var(--fourth-color) !important;
}

.city_title_dark {
  color: var(--main-color);
}

.cardCityImage {
  margin: 2%;
  padding: 4%;
  object-fit: cover;
  width: 100%;
  border-radius: 40px;
}

.postsContainer {
  margin: 1%;
  max-height: 190px;
}

/* User image */
.cardPostImage {
  margin: 2%;
  border-radius: 10px 100px / 120px;
  width: 190px;
  /* height is needed untill we create a div to cover space and than use object cover to crop */
  height: 170px;
}

.cityname {
  text-align: center;
}

.mainPageATag {
  text-decoration: none;
  color: var(--fourth-color);
}

.mainPageATag:hover {
  color: var(--fourth-color);
  text-shadow: 1px 1px 0px #3F7FBF;
  mix-blend-mode: screen;
  animation: fadeIn 2.5s linear infinite;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

#add-btn {
  /* border-radius: 100%; */
  float: right;
  margin: 1%;
}

/* .card { */
/* max-height: 190px; */
/* } */

.rightPostProfile {
  position: absolute;
  bottom: 0;
  left: 50%;
}

.leftPostProfile {
  position: absolute;
  bottom: 0;
  right: 50%;
}

.cityScroll {
  direction: rtl;
}

/* ================ list item side ==================== */
.cityListRow {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: var(--fourth-color);
  background-clip: border-box;
  border: 1px solid var(--third-color) !important;
  border-radius: 0.25rem !important;
  height: 100vh;
}

.cityListImage {
  margin: 2%;
  object-fit: cover;
  width: 100%;
}

.profilePost {
  margin-top: 35px !important;
  z-index: 15;
}

.user_information {
  height: 46px;
}

.user {
  float: right;
  text-align: right;
  margin-right: 1%;
}
.username {
  margin: 0 auto;
}

.userlogin {
  margin: 0 auto;
}

#posts {
  overflow-x: hidden !important;
}

.postBox {
  margin: 0px auto 5px;
  border-radius: 10px;
  width: 100%;
  box-shadow: 0px 20px 40px rgba(0,0,0,0.4);
  z-index: 20;
}

.addPostButton button {
  margin-top: 6px !important;
}

.leftSideHover {
  z-index: 30;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.leftSideHover:hover {
  -webkit-transform: translateX(10px);
  transform: translateX(10px);
}

.leftSideHover2:hover {
  background-color: var(--main-color) !important;
}
/* 
.hvr-float {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-float:hover, .hvr-float:focus, .hvr-float:active {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
} */