.cardCityImage {
  margin: 2%;
  width: 190px;
}

.cardPostImage {
  margin: 2%;
  border-radius: 10px 100px / 120px;
  width: 190px;
}

.cityListImage {
  margin: 2%;
  width: 120px;
  align-items: center;
}
