/* no ahref styling */

a {
  text-decoration: none;
}

/* body { */
/* background-color: var(--third-color) !important; */
/* } */

.profilePageContainer {
  margin: 1%;
}

/* ========== Selected city side =============*/
.selected_city {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: var(--main-color);
  background-clip: border-box;
  border: 1px solid var(--third-color) !important;
  border-radius: 0.25rem;
  height: 100vh;
}

.profile-city-list {
  border: 1px solid var(--fourth-color) !important;
}

.cardCityImage {
  margin: 2%;
  padding: 4%;
  object-fit: cover;
  width: 100%;
  border-radius: 15%;
}

.postsContainer {
  margin: 1%;
  max-height: 190px;
}

/* User image */
.cardPostImage {
  margin: 2%;
  border-radius: 10px 100px / 120px;
  width: 190px;
  /* height is needed untill we create a div to cover space and than use object cover to crop */
  height: 170px;
}

.cityname {
  text-align: center;
}

#add-btn {
  /* border-radius: 100%; */
  float: right;
  margin: 1%;
}

/* .card { */
/* max-height: 190px; */
/* } */

.rightPostProfile {
  position: absolute;
  bottom: 0;
  left: 50%;
}

.leftPostProfile {
  position: absolute;
  bottom: 0;
  right: 50%;
}

.cityScroll {
  direction: rtl;
}

/* ================ list item side ==================== */
.cityListRow {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: var(--main-color);
  background-clip: border-box;
  border: 1px solid var(--third-color) !important;
  border-radius: 0.25rem !important;
  height: 100vh;
}

.cityListImage {
  margin: 2%;
  object-fit: cover;
  width: 100%;
}

.profilePost {
  border-bottom: 1px solid var(--third-color);
  margin: 0 !important;
}

.user_information {
  height: 46px;
}

.user {
  float: right;
  text-align: right;
  margin-right: 1%;
}
.username {
  margin: 0 auto;
}

.userlogin {
  margin: 0 auto;
}

#posts {
  overflow-x: hidden !important;
}
